langchain
langchain-openai
langchain-community
pypdf
nltk
sentence-transformers
keybert
PyMuPDF
pillow
pytesseract
google-generativeai
huggingface-hub
torch
qdrant-client
langchain-qdrant
langchain-huggingface
langchain-ollama
fastapi
pydantic
uvicorn
