langchain
pypdf
nltk
sentence-transformers
keybert
PyMuPDF
pillow
pytesseract
google-generativeai
huggingface-hub
torch
qdrant-client>=1.9.0
langchain-qdrant
langchain-huggingface
langchain-ollama
fastapi
pydantic
